In [1]:
import pandas as pd

### 1- Load the world countries data

In [4]:
countries = pd.read_csv("countries.csv")

### 2- Load the first five rows

In [5]:
first_five = countries.head()
first_five

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

### 3- Load the first ten rows

In [6]:
first_ten = countries.head(10)

### 4- Load the last five rows

In [40]:
last_five = countries.tail()
last_five

,Country,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,...,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service,Pop Percent
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,...,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630,0.037714
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,...,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400,0.004185
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,...,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393,0.328879
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,...,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489,0.176302
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,...,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579,0.187565

### 5- Load the last seven rows

In [8]:
last_seven = countries.tail(7)

### 6- Assign the number of columns and rows

In [11]:
num_countries = countries.shape[0]
num_columns = countries.shape[1]
print(num_countries)
print(num_columns)

227
20

### 7- Assign the list of column names of the countries

In [12]:
column_names_index = countries.columns
column_names_list = list(column_names_index)

type(column_names_list) == list

True

### 8- Display information on the columns

In [13]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB

### 9- Write the column names and the values are the column datatypes

In [15]:
columns = countries.columns

col_types = {}
for col_name in columns:
    col_types[col_name] = countries[col_name].dtype

col_types

{'Country': dtype('O'),
 'Region': dtype('O'),
 'Population': dtype('int64'),
 'Area (sq. mi.)': dtype('int64'),
 'Pop. Density (per sq. mi.)': dtype('O'),
 'Coastline (coast/area ratio)': dtype('O'),
 'Net migration': dtype('O'),
 'Infant mortality (per 1000 births)': dtype('O'),
 'GDP ($ per capita)': dtype('float64'),
 'Literacy (%)': dtype('O'),
 'Phones (per 1000)': dtype('O'),
 'Arable (%)': dtype('O'),
 'Crops (%)': dtype('O'),
 'Other (%)': dtype('O'),
 'Climate': dtype('O'),
 'Birthrate': dtype('O'),
 'Deathrate': dtype('O'),
 'Agriculture': dtype('O'),
 'Industry': dtype('O'),
 'Service': dtype('O')}

### 10- Change the columns names

In [17]:
name_dict = {
    'Original Name': 'New Name',
    'Area (sq. mi.)': 'Area',
    'Pop. Density (per sq. mi.)': 'Pop Density',
    'Coastline (coast/area ratio)': 'Coastline',
    'Net migration': 'Migration',
    'Infant mortality (per 1000 births)': 'Infant Mortality',
    'GDP ($ per capita)': 'GDP Capita',
    'Literacy (%)': 'Literacy',
    'Phones (per 1000)': 'Phones',
    'Arable (%)': 'Arable',
    'Crops (%)': 'Crops',
    'Other (%)': 'Other'    
}

countries.rename(columns=name_dict,inplace=True)
countries.columns

Index(['Country', 'Region', 'Population', 'Area', 'Pop Density', 'Coastline',
       'Migration', 'Infant Mortality', 'GDP Capita', 'Literacy', 'Phones',
       'Arable', 'Crops', 'Other', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

### 11- Change the datatype of each column to a floating-point datatype

In [18]:
cols_to_change = [
    'Pop Density',
    'Coastline',
    'Migration',
    'Infant Mortality',
    'Literacy',
    'Phones',
    'Arable',
    'Crops',
    'Other',
    'Climate',
    'Birthrate',
    'Deathrate',
    'Agriculture',
    'Industry',
    'Service'
]

for col in cols_to_change:
    countries[col] = countries[col].str.replace(',','.').astype(float)

### 12- The country with the maximum population

In [19]:
max_pop_row = countries[countries['Population'] == countries['Population'].max()]
max_pop_row

,Country,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,136.9,0.15,-0.4,24.18,5000.0,90.9,266.7,15.4,1.25,83.35,1.5,13.25,6.97,0.125,0.473,0.403

### 13- The country with the minimum population

In [20]:
min_pop_row = countries[countries['Population'] == countries['Population'].min()]
min_pop_row

,Country,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
174,St Pierre & Miquelon,NORTHERN AMERICA,7026,242,29.0,49.59,-4.86,7.54,6900.0,99.0,683.2,13.04,0.0,86.96,NaN,13.52,6.83,NaN,NaN,NaN

### 14- The two countries with the largest populations

In [27]:
two_largest = countries.nlargest(2,'Population')
ratio = two_largest.iloc[0, 2] / two_largest.iloc[1, 2]
two_largest

,Country,Region,Population,Area,Pop Density,Coastline,Migration,Infant Mortality,GDP Capita,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
42,China,ASIA (EX. NEAR EAST),1313973713,9596960,136.9,0.15,-0.40,24.18,5000.0,90.9,266.7,15.4,1.25,83.35,1.5,13.25,6.97,0.125,0.473,0.403
94,India,ASIA (EX. NEAR EAST),1095351995,3287590,333.2,0.21,-0.07,56.29,2900.0,59.5,45.4,54.4,2.74,42.86,2.5,22.01,8.18,0.186,0.276,0.538

In [28]:
ratio

1.1995903773380172

### 15- Select all rows that have a coastline with zero area

In [30]:
countries_without_coast = countries[countries['Coastline'] == 0]
num_countries_without_coast = countries_without_coast.shape[0]
num_countries_without_coast

44

### 16- All unique values in the Region column

In [32]:
regions = list(countries['Region'].unique())
regions

['ASIA (EX. NEAR EAST)         ',
 'EASTERN EUROPE                     ',
 'NORTHERN AFRICA                    ',
 'OCEANIA                            ',
 'WESTERN EUROPE                     ',
 'SUB-SAHARAN AFRICA                 ',
 'LATIN AMER. & CARIB    ',
 'C.W. OF IND. STATES ',
 'NEAR EAST                          ',
 'NORTHERN AMERICA                   ',
 'BALTICS                            ']

### 17- Write a Series object that counts how many countries are in each region

In [33]:
num_countries_per_region = countries['Region'].value_counts()
num_countries_per_region

SUB-SAHARAN AFRICA                     51
LATIN AMER. & CARIB                    45
WESTERN EUROPE                         28
ASIA (EX. NEAR EAST)                   28
OCEANIA                                21
NEAR EAST                              16
EASTERN EUROPE                         12
C.W. OF IND. STATES                    12
NORTHERN AFRICA                         6
NORTHERN AMERICA                        5
BALTICS                                 3
Name: Region, dtype: int64

### 18-  Calculate the average number of phones per person over all countries

In [34]:
average_phones_1000 = countries['Phones'].mean()
phones_per_person = average_phones_1000 / 1000
phones_per_person

0.23606143497757856

### 19- Adding the populations of all countries

In [35]:
world_population = countries['Population'].sum()
world_population

6524044551

### 20- Calculate the population percentage of each country

In [37]:
countries['Pop Percent'] = countries['Population']*100 / countries['Population'].sum()
countries['Pop Percent']

0      0.476039
1      0.054899
2      0.504750
3      0.000886
4      0.001091
         ...
222    0.037714
223    0.004185
224    0.328879
225    0.176302
226    0.187565
Name: Pop Percent, Length: 227, dtype: float64

### 21- Select the Country and Pop Percent columns of the ten countries with the largest populations

In [38]:
top_10_populations = countries.nlargest(10,'Pop Percent')[['Country','Pop Percent']]
top_10_populations

            Country  Pop Percent
42           China     20.140477
94           India     16.789462
214  United States      4.574528
95       Indonesia      3.762279
27          Brazil      2.882847
156       Pakistan      2.541423
16      Bangladesh      2.258804
169         Russia      2.190260
152        Nigeria      2.021135
103          Japan      1.953751

### 22- Calculate the average GDP per person of all countries in each region

In [39]:
average_GDP = countries.groupby(['Region']).mean()['GDP Capita']
average_GDP

Region
ASIA (EX. NEAR EAST)                    8053.571429
BALTICS                                11300.000000
C.W. OF IND. STATES                     4000.000000
EASTERN EUROPE                          9808.333333
LATIN AMER. & CARIB                     8682.222222
NEAR EAST                              10456.250000
NORTHERN AFRICA                         5460.000000
NORTHERN AMERICA                       26100.000000
OCEANIA                                 8247.619048
SUB-SAHARAN AFRICA                      2323.529412
WESTERN EUROPE                         27046.428571
Name: GDP Capita, dtype: float64