In [3]:
import pandas as pd

## 1- write a Series object with the same values as that list

In [4]:
values = [6, 2, 9, 11, 4, 10, 3, 5, 17]

series = pd.Series(values)
series

0     6
1     2
2     9
3    11
4     4
5    10
6     3
7     5
8    17
dtype: int64

## 2- write a Series object with the same values as that list, but with a floating-point datatype

In [10]:
values = [6, 2, 9, 11, 4, 10, 3, 5, 17]

series = pd.Series(values,dtype="float64")
series

0    6.0
1    2.0
2    9.0
3    1.0
4    4.0
5    8.0
6    3.0
7    5.0
8    7.0
dtype: float64

## 3- write an ndarray containing the same values

In [13]:
series = pd.Series([6, 2, 9, 11, 4, 10, 3, 5, 17])

array = series.values
print(array)
print(type(array))

[6 2 9 1 4 8 3 5 7]
<class 'numpy.ndarray'>

## 4- access its index and assign it to a variable

In [16]:
series = pd.Series([6, 2, 9, 11, 4, 10, 3, 5, 17])

index = series.index
index

RangeIndex(start=0, stop=9, step=1)

## 5- use slicing to extract the remaining values except first and last values

In [19]:
series = pd.Series([6, 2, 9, 11, 4, 10, 3, 5, 17])

my_slice = series[1:8]

## 6- use slicing to extract the values by skipping one by one

In [21]:
series = pd.Series([6, 2, 9, 11, 4, 10, 3, 5, 17])

my_slice = series[1::2]

## 7- use slicing to extract for the last four values

In [22]:
series = pd.Series([6, 2, 9, 11, 4, 10, 3, 5, 17])

my_slice = series[5:]

## 8- use slicing to extract the first four values

In [23]:
series = pd.Series([6, 2, 9, 11, 4, 10, 3, 5, 17])

my_slice = series[:4]

## 9- use slicing to extract by skipping one by one the first five values

In [24]:
series = pd.Series([6, 2, 9, 11, 4, 10, 3, 5, 17])

my_slice = series[:5:2]

## 10- start from third index and skip one by one the values

In [25]:
series = pd.Series([6, 2, 9, 11, 4, 10, 3, 5, 17])

my_slice = series[3::2]

## 11- access a few of its values by index

In [29]:
series = pd.Series([28, 9, 82, 38, 44, 55, 23, 7, 64, 59, 5, 76, 12, 89, 50, 25, 33, 45, 93, 60, 72, 21, 89, 86, 26])

# Assign the first value of series to a variable named first
first = series[0]

# Assign the last value of series to a variable named last
last = series.iloc[-1]

# Assign the middle value of series to a variable named middle
middle_index = int(len(series) // 2)
middle = series[middle_index]

# Assign the seventeenth value of series to a variable named seventeenth
seventeenth = series[16]

# Assign the second to last value of series to a variable named second_to_last
second_to_last = series.iloc[-2]

## 12- write a series object

In [30]:
series = pd.Series(data=[4, 6, 1, 7],index=['data', 'quest', 'is', 'fun'])

## 13- write a series object with 26 values

In [ ]:
alphabet = pd.Series()
for i in range(26):
    alphabet[chr(ord('a') + i)] = i
    
# Alternative answer
alphabet = pd.Series(range(26), index=list('abcdefghijklmnopqrstuvwxyz'))

## 14- change that index to an index that start at 1 instead

In [34]:
series = pd.Series([28, 9, 82, 38, 44, 55, 23, 7, 64, 59, 5, 76, 12, 89, 50, 25, 33, 45, 93, 60, 72, 21, 89, 86, 26])
series.index = [i for i in range(1, len(series) + 1)]

# Alternative answer
series.index = range(1, len(series) + 1)

## 15-  converting a dictionary to a Series object

In [37]:
populations = {
    'Cairo': 11001000,
    'Johannesburg': 3670000,
    'Dakar': 2863000,
    'Casablanca': 3284000,
    'Lagos': 10578000
}

series_pop = pd.Series(populations)

## 16- converting a dictionary to a Series object and add one entry

In [38]:
populations = {
    'Cairo': 11001000,
    'Johannesburg': 3670000,
    'Dakar': 2863000,
    'Casablanca': 3284000,
    'Lagos': 10578000
}

series_pop = pd.Series(populations)
series_pop["Luanda"] = 4772000

## 17- converting a dictionary to a Series object and deleting one entry

In [39]:
populations = {
    'Cairo': 11001000,
    'Johannesburg': 3670000,
    'Dakar': 2863000,
    'Casablanca': 3284000,
    'Lagos': 10578000,
    'Luanda': 4772000
}

series_pop = pd.Series(populations)
series_pop = series_pop.drop("Luanda")

## 18- converting a dictionary to a Series object and delete multiple entries

In [41]:
populations = {
    'Cairo': 11001000,
    'Johannesburg': 3670000,
    'Dakar': 2863000,
    'Casablanca': 3284000,
    'Lagos': 10578000,
    'Luanda': 4772000
}

series_pop = pd.Series(populations)
series_pop = series_pop.drop("Luanda")

## 19- use slicing on the labels to extract some values

In [44]:
series = pd.Series({'a':6, 'b':2, 'c':9, 'd':1, 'e':4, 'f':8, 'g':3, 'h':5, 'i':7})

my_slice = series['d':'g']

## 20- use slicing on the labels to extract by skipping one by one the values

In [45]:
series = pd.Series({'a':6, 'b':2, 'c':9, 'd':1, 'e':4, 'f':8, 'g':3, 'h':5, 'i':7})

my_slice = series["a"::2]

## 21-  use slicing on the labels to extract the values

In [46]:
series = pd.Series({'a':6, 'b':2, 'c':9, 'd':1, 'e':4, 'f':8, 'g':3, 'h':5, 'i':7})


my_slice = series["c":"g"]

## 22- find some statistics

In [47]:
series = pd.Series({'a':6, 'b':2, 'c':None, 'd':1, 'e':4, 'f':8, 'g':3, 'h':5, 'i':7, 'j': None})

print(series.describe())

count    8.00000
mean     4.50000
std      2.44949
min      1.00000
25%      2.75000
50%      4.50000
75%      6.25000
max      8.00000
dtype: float64

## 23- transform a series to tuple in a list

In [51]:
series = pd.Series({'a':6, 'b':2, 'c':9, 'd':1, 'e':4, 'f':8, 'g':3, 'h':5, 'i':7})

entry_list = [(index,value) for index,value in series.items()]