In [1]:
import pandas as pd

In [ ]:
apps = pd.read_csv('apps.csv')

### 1- Write a new column named currency whose values are the first character of the price column

In [ ]:
apps['currency'] = apps['price'].str[0]

### 2- Replacing commas by dots

In [ ]:
apps['price'] = apps['price'].str[1:].replace(',', '.', regex=True)

### 3- Casting the column to float

In [ ]:
apps['price'] = apps['price'].astype('float')

### 4- Make the currency column a categorical

In [ ]:
apps['currency'] = apps['currency'].astype('category')

### 5- Format the phone number column(example: ddd-ddd-dddd)(d is a number)

In [ ]:
people = pd.read_csv('people.csv')

def f(phone):
    import re
    phone = re.sub('\D', '', phone)
    return '{}-{}-{}'.format(phone[:3], phone[3:6], phone[6:])

people['phone number'] = people['phone number'].apply(f)

### 6- Format the birthday column so that each row uses the format mm/dd/yyyy

In [ ]:
birthdays = pd.read_csv('birthdays.csv')
birthdays['birthday'] = pd.to_datetime(birthdays['birthday'])
birthdays['birthday'] = birthdays['birthday'].dt.strftime('%m/%d/%Y')

### 7- Add a secure boolean column. It should have value True if the url starts with https and False otherwise. Add an extension column. It should have the URL extension

In [ ]:
urls = pd.read_csv('urls.csv')
urls['secure'] = urls['url'].str.split(':').str[0] == 'https'
urls['extension'] = urls['url'].str.split('.').str[-1]

### 8- Remove the " characters from the screen size column and change its datatype to float

In [ ]:
screens = pd.read_csv('screens.csv')
screens.rename(columns={'screen size' : 'size (inches)'},inplace=True)
screens['size (inches)'] = screens['size (inches)'].str.replace('"','').astype(float)

### 9- the first letter of each name is uppercase while the other are lowercase

In [ ]:
participants = pd.read_csv('participants.csv')
def clean_name(names):
    return ' '.join([name.capitalize() for name in names.split()])

participants['name'] = participants['name'].apply(clean_name)

### 10- Clean the t-shirt column by replacing each size according to the below table

In [ ]:
size_replacement_table = {
    'S':   ['S', 'small', 's'],   
    'XL':  ['XL', 'extra large', 'xl'],    
    'M':   ['M', 'medium', 'm'],    
    'L':   ['L', 'large', 'l'],
    'XS':  ['XS', 'extra small', 'xs'],   
    '3XL': ['3XL', 'XXXL'],
    '2XL': ['2XL', 'XXL']
}


tshirt_map = {}
for replacement in size_replacement_table:
    for original in size_replacement_table[replacement]:
        tshirt_map[original] = replacement
        
participants['t-shirt'] = participants['t-shirt'].map(tshirt_map)

### 11- Changes the columns names to id, company, position and city, respectively

In [ ]:
jobs = pd.read_csv('jobs.csv')

jobs.rename(columns={'col1':'id',
                    'col2':'company',
                    'col3':'position',
                    'col4':'city'},inplace=True)

#alternative
jobs.columns = ['id', 'company', 'position', 'city']

### 12- Read the employees.csv into a DataFrame named employees

In [ ]:
import chardet
f = open('employees.csv', 'rb')
data = f.read()
f.close()

encoding = chardet.detect(data)['encoding']
employees = pd.read_csv('employees.csv', encoding=encoding)