In [78]:
import pandas as pd

In [79]:
wnba = pd.read_csv('WNBA Stats.csv')

In [80]:
wnba.head()

,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,College,...,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
0,Aerial Powers,DAL,F,183,71.0,21.200991,US,"January 17, 1994",23,Michigan State,...,6,22,28,12,3,6,12,93,0,0
1,Alana Beard,LA,G/F,185,73.0,21.329438,US,"May 14, 1982",35,Duke,...,19,82,101,72,63,13,40,217,0,0
2,Alex Bentley,CON,G,170,69.0,23.875433,US,"October 27, 1990",26,Penn State,...,4,36,40,78,22,3,24,218,0,0
3,Alex Montgomery,SAN,G/F,185,84.0,24.543462,US,"December 11, 1988",28,Georgia Tech,...,35,134,169,65,20,10,38,188,2,0
4,Alexis Jones,MIN,G,175,78.0,25.469388,US,"August 5, 1994",23,Baylor,...,3,9,12,12,7,0,14,50,0,0

In [81]:
wnba.columns

Index(['Name', 'Team', 'Pos', 'Height', 'Weight', 'BMI', 'Birth_Place',
       'Birthdate', 'Age', 'College', 'Experience', 'Games Played', 'MIN',
       'FGM', 'FGA', 'FG%', '15:00', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PTS', 'DD2', 'TD3'],
      dtype='object')

## 1. Quantitative and Qualitative Variables

In [82]:
variables = {'Name': '', 'Team': '', 'Pos': '', 'Height': '', 'BMI': '',
             'Birth_Place': '', 'Birthdate': '', 'Age': '', 'College': '', 'Experience': '',
             'Games Played': '', 'MIN': '', 'FGM': '', 'FGA': '',
             '3PA': '', 'FTM': '', 'FTA': '', 'FT%': '', 'OREB': '', 'DREB': '',
             'REB': '', 'AST': '', 'PTS': ''}

variables["Name"] = "qualitative"
variables["Team"] = "qualitative"
variables["Pos"] = "qualitative"
variables["Height"] = "quantitative"
variables["Birth_Place"] = "qualitative"
variables["Birthdate"] = "quantitative"
variables["Age"] = "quantitative"
variables["BMI"] = "quantitative"
variables["Experience"] = "quantitative"
variables["College"] = "qualitative"
variables["Games Played"] = "quantitative"
variables["MIN"] = "quantitative"
variables["FGM"] = "quantitative"
variables["FGA"] = "quantitative"
variables["3PA"] = "quantitative"
variables["FTM"] = "quantitative"
variables["FTA"] = "quantitative"
variables["FT%"] = "quantitative"
variables["OREB"] = "quantitative"
variables["DREB"] = "quantitative"
variables["REB"] = "quantitative"
variables["AST"] = "quantitative"
variables["PTS"] = "quantitative"

## 2. The Nominal Scale

In [83]:
nominal_scale = sorted(["Name","Team","Pos","Birth_Place","College"])

## 3. The Ordinal Scale

In [84]:
# Converting to ordinal scale from ratio(continues) scale
def height_labels(value):
    mean = wnba['Height'].mean()
    if value < (mean -10): # The value was randomly given.
        return 'short'
    if (mean - 10) < value <= (mean -4): # The values were randomly given.
        return 'medium'
    if value > (mean -2): # The value was randomly given.
        return 'tall'

wnba['Height_labels'] = wnba['Height'].apply(height_labels)

In [85]:
wnba[['Height','Height_labels']].head()

   Height Height_labels
0     183          tall
1     185          tall
2     170         short
3     185          tall
4     175        medium

## 4. Ratio and Interval Scales

In [86]:
interval = ['Birthdate', 'Weight_deviation']
ratio = sorted(['Height', 'Weight', 'BMI', 'Age', 'Experience', 'Games Played', 'MIN', 'FGM', 'FGA', 'FG%', '15:00', 
                '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO',
                'PTS', 'DD2', 'TD3'])

In [87]:
# Converting to interval scale from ratio scale
def converting(value):
    mean = wnba['Weight'].mean()
    return value - mean

wnba['Weight_devition'] = wnba['Weight'].apply(converting)

In [88]:
wnba[['Weight','Weight_devition']].iloc[[35,3,111,85,128]]

     Weight  Weight_devition
35     89.0        10.021127
3      84.0         5.021127
111    63.0       -15.978873
85     64.0       -14.978873
128    75.0        -3.978873

## 5. Discrete and Continuous Variables

In [89]:
ratio_interval_only = {'Height': 'continuous', 'Weight': 'continuous', 'BMI': 'continuous', 'Age': 'continuous',
                       'Games Played': 'discrete', 'MIN': 'continuous', 'FGM': 'discrete',
                       'FGA': 'discrete', 'FG%': 'continuous', '3PA': 'discrete', '3P%': 'continuous',
                       'FTM': 'discrete', 'FTA': 'discrete', 'FT%': 'continuous', 'OREB': 'discrete',
                       'DREB': 'discrete', 'REB': 'discrete', 'AST': 'discrete', 'STL': 'discrete',
                       'BLK': 'discrete', 'TO': 'discrete', 'PTS': 'discrete', 'DD2': 'discrete', 
                       'TD3': 'discrete', 'Weight_deviation': 'continuous'}

## 6. Real Limits

In [90]:
# Finding the real limits for five values of the BMI (body mass index) variable

bmi = {21.201: [],
 21.329: [],
 23.875: [],
 24.543: [],
 25.469: []}
bmi = {21.201: [21.2005, 21.2015],
 21.329: [21.3285, 21.3295],
 23.875: [23.8745, 23.8755],
 24.543: [24.5425, 24.5435],
 25.469: [25.4685, 25.4695]}