In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('new.db')
cursor = conn.cursor()

In [3]:
query = '''SELECT * 
             FROM performance;'''

cursor.execute(query).fetchmany(5)

[('female', 'group B', "bachelor's degree", 'standard', 'none', 72, 72, 74),
 ('female', 'group C', 'some college', 'standard', 'completed', 69, 90, 88),
 ('female', 'group B', "master's degree", 'standard', 'none', 90, 95, 93),
 ('male', 'group A', "associate's degree", 'free/reduced', 'none', 47, 57, 44),
 ('male', 'group C', 'some college', 'standard', 'none', 76, 78, 75)]

In [4]:
query = '''SELECT *
             FROM performance
            LIMIT 5;'''

cursor.execute(query).fetchall()

[('female', 'group B', "bachelor's degree", 'standard', 'none', 72, 72, 74),
 ('female', 'group C', 'some college', 'standard', 'completed', 69, 90, 88),
 ('female', 'group B', "master's degree", 'standard', 'none', 90, 95, 93),
 ('male', 'group A', "associate's degree", 'free/reduced', 'none', 47, 57, 44),
 ('male', 'group C', 'some college', 'standard', 'none', 76, 78, 75)]

In [5]:
query = '''SELECT gender,
                  parental_education 
            FROM performance;'''

cursor.execute(query).fetchmany(5)

[('female', "bachelor's degree"),
 ('female', 'some college'),
 ('female', "master's degree"),
 ('male', "associate's degree"),
 ('male', 'some college')]

In [7]:
query = '''SELECT gender,
                  course,
                  reading_score 
              FROM performance 
             WHERE reading_score < 50
             LIMIT 10;'''

cursor.execute(query).fetchall()

[('male', 'none', 43),
 ('female', 'none', 32),
 ('male', 'completed', 42),
 ('male', 'none', 42),
 ('male', 'none', 44),
 ('female', 'none', 41),
 ('female', 'none', 17),
 ('male', 'none', 39),
 ('male', 'none', 37),
 ('male', 'none', 49)]

In [9]:
query = '''SELECT gender,
                  course,
                  reading_score 
             FROM performance 
            WHERE reading_score < 50 
              AND gender='female';'''

cursor.execute(query).fetchmany(10)

[('female', 'none', 32),
 ('female', 'none', 41),
 ('female', 'none', 17),
 ('female', 'none', 49),
 ('female', 'none', 49),
 ('female', 'none', 39),
 ('female', 'none', 42),
 ('female', 'none', 46),
 ('female', 'none', 46),
 ('female', 'none', 38)]

In [12]:
query = '''SELECT gender,
                  math_score,
                  writing_score 
              FROM performance 
             WHERE math_score >= 90 
                OR math_score > writing_score 
             LIMIT 15;'''

cursor.execute(query).fetchall()

[('female', 90, 93),
 ('male', 47, 44),
 ('male', 76, 75),
 ('male', 40, 39),
 ('male', 58, 52),
 ('male', 78, 70),
 ('male', 88, 86),
 ('male', 66, 63),
 ('male', 73, 72),
 ('male', 69, 55),
 ('male', 70, 65),
 ('female', 63, 61),
 ('male', 40, 38),
 ('male', 97, 82),
 ('male', 81, 79)]

In [14]:
query = '''SELECT gender,
                  math_score,
                  writing_score 
              FROM performance 
             WHERE (gender = 'male') 
               AND (math_score < 50 OR writing_score <50);'''

cursor.execute(query).fetchmany(10)

[('male', 47, 44),
 ('male', 40, 39),
 ('male', 40, 43),
 ('male', 46, 46),
 ('male', 44, 53),
 ('male', 40, 38),
 ('male', 53, 48),
 ('male', 53, 42),
 ('male', 52, 49),
 ('male', 39, 34)]

In [17]:
query = '''SELECT gender,
                  math_score,
                  reading_score 
             FROM performance 
            WHERE math_score > 90 and reading_score > 70 
            ORDER BY math_score DESC;'''
            
cursor.execute(query).fetchmany(10)

[('male', 100, 100),
 ('female', 100, 92),
 ('female', 100, 100),
 ('male', 100, 96),
 ('male', 100, 97),
 ('male', 100, 100),
 ('female', 100, 100),
 ('female', 99, 100),
 ('female', 99, 93),
 ('male', 99, 87)]

In [18]:
query = '''SELECT gender,
                  course,
                  math_score 
              FROM performance 
             WHERE course = 'none' 
             ORDER BY math_score;'''
             
cursor.execute(query).fetchmany(11)

[('female', 'none', 0),
 ('female', 'none', 8),
 ('female', 'none', 18),
 ('female', 'none', 19),
 ('female', 'none', 22),
 ('female', 'none', 24),
 ('female', 'none', 26),
 ('male', 'none', 27),
 ('female', 'none', 27),
 ('male', 'none', 28),
 ('female', 'none', 29)]

In [22]:
query = '''SELECT gender,
                  course,
                  math_score 
              FROM performance
             WHERE course = 'completed' 
             ORDER BY math_score;'''
             
cursor.execute(query).fetchmany(10)

[('female', 'completed', 23),
 ('female', 'completed', 29),
 ('female', 'completed', 32),
 ('female', 'completed', 34),
 ('female', 'completed', 35),
 ('male', 'completed', 39),
 ('male', 'completed', 40),
 ('male', 'completed', 40),
 ('female', 'completed', 40),
 ('female', 'completed', 42)]

In [23]:
conn.close()