In [23]:
import sqlite3 as sql

In [24]:
# connecting the database 
conn = sql.connect('new.db')

# cursor to execute process
cursor = conn.cursor()

In [60]:
# making functions to execute faster a process

def fetchone():
    return cursor.execute(query).fetchone()

def fetchmany(number):
    return cursor.execute(query).fetchmany(number)

def fetchall():
    return cursor.execute(query).fetchall()

## 1- If/Then in SQL

In [29]:
query = '''SELECT math_score,
                  CASE
                  WHEN math_score < 50 THEN 'Low'
                  WHEN math_score BETWEEN 50 AND 80 THEN 'Medium'
                  ELSE 'Hihg'
                  END AS Math_rating
              FROM performance;'''

fetchmany(10)

[(72, 'Medium'),
 (69, 'Medium'),
 (90, 'Hihg'),
 (47, 'Low'),
 (76, 'Medium'),
 (71, 'Medium'),
 (88, 'Hihg'),
 (40, 'Low'),
 (64, 'Medium'),
 (38, 'Low')]

## 2- Calculating Group-Level Summary Statistics

In [40]:
query = '''SELECT race_ethnicity,
                  SUM(math_score) AS Total_math
              FROM performance
             GROUP BY race_ethnicity;'''

fetchall()

[('group A', 5485),
 ('group B', 12056),
 ('group C', 20564),
 ('group D', 17649),
 ('group E', 10335)]

## 3- Calculating Group-Level Summary Statistics

In [41]:
query = '''SELECT race_ethnicity,
                  AVG(math_score) AS Average_math
              FROM performance
             GROUP BY race_ethnicity;'''

fetchall()

[('group A', 61.62921348314607),
 ('group B', 63.45263157894737),
 ('group C', 64.46394984326018),
 ('group D', 67.36259541984732),
 ('group E', 73.82142857142857)]

## 4- Multiple Summary Statistics by Group

In [32]:
query = '''SELECT gender,
                  SUM(math_score) AS total_math,
                  ROUND(AVG(math_score),2) AS average_math,
                  MAX(math_score) - MIN(math_score) AS range_math
              FROM performance
             GROUP BY gender;'''

for v in fetchall():
    print(v)

('female', 32962, 63.63, 100)
('male', 33127, 68.73, 73)

## 5- Multiple Group Columns

In [31]:
query = '''SELECT gender,race_ethnicity,
                  SUM(writing_score) AS total_writing,
                  AVG(writing_Score) AS average_writing
              FROM performance
             GROUP BY gender,race_ethnicity;'''

fetchall()

[('female', 'group A', 2443, 67.86111111111111),
 ('female', 'group B', 7285, 70.04807692307692),
 ('female', 'group C', 12920, 71.77777777777777),
 ('female', 'group D', 9678, 75.02325581395348),
 ('female', 'group E', 5212, 75.53623188405797),
 ('male', 'group A', 3135, 59.15094339622642),
 ('male', 'group B', 5179, 60.22093023255814),
 ('male', 'group C', 8717, 62.71223021582734),
 ('male', 'group D', 8700, 65.41353383458646),
 ('male', 'group E', 4785, 67.3943661971831)]

## 6- Querying Virtual Columns With the HAVING Statement

In [55]:
query = '''SELECT race_ethnicity,
                  ROUND((COUNT(*) / 1000.0) * 100,2) AS percentage
               FROM performance
              GROUP BY race_ethnicity
              HAVING percentage > 25;'''

fetchall()

[('group C', 31.9), ('group D', 26.2)]

## 7- Casting

In [58]:
query = '''SELECT race_ethnicity,
                  CAST(SUM(reading_score) AS Float) / CAST(SUM(writing_score) AS Float) AS rw
              FROM performance
             GROUP BY race_ethnicity
             ORDER BY rw;'''

fetchall()

[('group D', 0.9983676134508651),
 ('group C', 1.0188103711235383),
 ('group E', 1.0227068120436131),
 ('group B', 1.026716944801027),
 ('group A', 1.031911079239871)]

In [61]:
#closing the connection
conn.close()