In [1]:
import sqlite3 as sql

In [2]:
conn = sql.connect('new.db')
cursor = conn.cursor()

## 1. Joining Two Tables

In [ ]:
query = '''SELECT * 
            FROM performance 
            JOIN survey 
              ON performance.student_id = survey.student_id;'''

cursor.execute(query).fetchall()

## 2. Selecting Columns From An Inner Join

In [ ]:
query = '''SELECT performance.math_score,
                  performance.reading_score,
                  performance.writing_score,
                  survey.plays_sports,
                  survey.suspended
             FROM performance
             JOIN survey
               ON performance.student_id = survey.student_id;'''

cursor.execute(query).fetchall()

## 3. Aliasing Tables

In [ ]:
query = '''SELECT pu.student_id,
                  pu.math_score AS new_math,
                  p.math_score AS old_math
             FROM performance_updated AS pu
             JOIN performance AS p
             ON pu.student_id = p.student_id;'''

cursor.execute(query).fetchall()

## 4. Summarizing Data from a Joined Table

In [ ]:
query = '''SELECT AVG(s.hours_per_week) AS hours_per_week_avg
             FROM performance_updated AS pu
             JOIN survey AS s
               ON pu.student_id = s.student_id
            WHERE gender == 'male';'''

cursor.execute(query).fetchall()

## 5. Summarizing Data from a Joined Table with group by

In [ ]:
query = '''SELECT pu.race_group,
                  pu.gender,
                  AVG(s.suspended) * 100 AS percentage_suspended
               FROM performance_updated AS pu
               JOIN survey AS s
                 ON pu.student_id = s.student_id
              GROUP BY pu.race_group,pu.gender;'''

cursor.execute(query).fetchall()

## 6. Practice with Self Joins

In [ ]:
query = '''SELECT p1.student_id, 
                  p1.math_score AS old_math,
                  p2.math_score AS new_math
              FROM perf_with_retakes AS p1
              JOIN perf_with_retakes AS p2
                ON p1.student_id = p2.student_id 
               AND p1.math_score <> p2.math_score;'''

cursor.execute(query).fetchall()

## 7. Practice with LEFT JOIN

In [ ]:
query = '''SELECT s.student_id IS NULL AS survey_missing,
                  COUNT(*) AS n_occurences
              FROM performance_updated AS pu
              LEFT JOIN survey AS s
                ON pu.student_id = s.student_id
            GROUP BY survey_missing;'''

cursor.execute(query).fetchall()

## 8. Practice with Non-Equi Joins

In [ ]:
query = '''SELECT p1.student_id,
                  CAST(COUNT(*) AS REAL) / 1000 AS quantile
              FROM performance AS p1
              LEFT JOIN performance AS p2
                ON p1.reading_score >=  p2.reading_score
             GROUP BY p1.student_id;'''

cursor.execute(query).fetchall()

## 9. Practice with UNION 1

In [ ]:
# Duplicate rows are acceptable
query = '''SELECT * 
            FROM performance
    
           UNION ALL
  
           SELECT *
            FROM performance_updated'''

cursor.execute(query).fetchall()

## 10. Practice with UNION 2

In [ ]:
# Duplicate rows should be removed
query = '''SELECT *
            FROM performance
    
           UNION

           SELECT *
            FROM performance_updated;'''

cursor.execute(query).fetchall()

## 11.  Practice with INTERSECT

In [ ]:
query = '''SELECT *
            FROM performance
    
           INTERSECT
  
           SELECT * 
            FROM performance_updated;'''

cursor.execute(query).fetchall()

## 12. Practice with EXCEPT

In [ ]:
query = '''SELECT *
            FROM performance_updated
    
           EXCEPT
  
           SELECT *
            FROM performance;'''

cursor.execute(query).fetchall()

In [3]:
conn.close()