In [1]:
import sqlite3 as sql

In [2]:
# connecting the dataset
conn = sql.connect('new.db')

# cursor to execute processes
cursor = conn.cursor()

In [3]:
# cursor functions

def fetchone():
    return cursor.execute(query).fetchone()

def fetchmany(number):
    return cursor.execute(query).fetchmany(number)

def fetchall():
    return cursor.execute(query).fetchall()

## 1- Writing More Complex Queries

In [5]:
query = '''SELECT gender,
                  math_score
              FROM performance
             WHERE math_score > 95;'''

fetchall()

[('male', 97),
 ('male', 98),
 ('female', 99),
 ('male', 100),
 ('female', 96),
 ('female', 97),
 ('female', 99),
 ('male', 97),
 ('male', 99),
 ('female', 100),
 ('female', 100),
 ('male', 97),
 ('male', 96),
 ('male', 100),
 ('male', 100),
 ('female', 98),
 ('female', 96),
 ('female', 97),
 ('male', 97),
 ('male', 100),
 ('male', 98),
 ('female', 100)]

## 2- Subqueries

In [8]:
query = '''SELECT gender,
                  math_score
              FROM performance
             WHERE math_score < (SELECT AVG(math_score)
                                    FROM performance);'''

fetchmany(10)

[('male', 47),
 ('male', 40),
 ('male', 64),
 ('female', 38),
 ('male', 58),
 ('male', 40),
 ('female', 65),
 ('female', 50),
 ('female', 18),
 ('male', 46)]

## 3- Subquery in SELECT

In [12]:
query = '''SELECT CAST(COUNT(*) as FLOAT) / (SELECT COUNT(*)
                                                FROM performance) AS proportion_math_avg
               FROM performance
              WHERE math_score > (SELECT AVG(math_score)
                                     FROM performance);'''

fetchone()

(0.493,)

## 4- The IN Operator

In [14]:
query = '''SELECT race_ethnicity,
                  parental_education
              FROM performance
             WHERE race_ethnicity IN ('group A', 'group D')'''

fetchmany(10)

[('group A', "associate's degree"),
 ('group D', 'high school'),
 ('group D', "associate's degree"),
 ('group A', 'some college'),
 ('group A', "master's degree"),
 ('group D', 'high school'),
 ('group D', 'some college'),
 ('group D', "bachelor's degree"),
 ('group A', "master's degree"),
 ('group D', "master's degree")]

## 5- Returning Multiple Results in Subqueries

In [26]:
query = '''SELECT race_ethnicity,
                  parental_education
              FROM performance
             WHERE race_ethnicity IN (SELECT race_ethnicity
                                         FROM performance
                                        GROUP BY race_ethnicity
                                        ORDER BY AVG(math_score) DESC
                                        LIMIT 2
                                      );'''
                                      
fetchmany(10)

[('group D', 'high school'),
 ('group D', "associate's degree"),
 ('group D', 'high school'),
 ('group D', 'some college'),
 ('group D', "bachelor's degree"),
 ('group D', "master's degree"),
 ('group D', 'some college'),
 ('group E', "master's degree"),
 ('group D', 'some college'),
 ('group E', 'some college')]

## 6- Integrating A Subquery With The Outer Query

In [43]:
query = '''SELECT gender,
                  race_ethnicity,
                  CAST(writing_score AS FLOAT) AS w
             FROM performance
            WHERE w < (SELECT AVG(writing_score)
                         FROM performance);'''
            

fetchmany(10)

[('male', 'group A', 44.0),
 ('male', 'group B', 39.0),
 ('male', 'group D', 67.0),
 ('female', 'group B', 50.0),
 ('male', 'group C', 52.0),
 ('male', 'group D', 43.0),
 ('female', 'group A', 58.0),
 ('female', 'group B', 28.0),
 ('male', 'group C', 46.0),
 ('female', 'group C', 61.0)]

In [44]:
# closing the dataset
conn.close()