In [41]:
import sqlite3 as sql

## 1- Connect to database and make a cursor

In [59]:
conn = sql.connect('new.db')
cursor = conn.cursor()

In [60]:
# write funtions to get easier the info from table

def fetchone():
    return cursor.execute(query).fetchone()

def fetchall():
    return cursor.execute(query).fetchall()

def fetchmany(limit):
    return cursor.execute(query).fetchmany(limit)

## 2- Get all the columns from the table(limit 5)

In [57]:
query = '''SELECT * 
             FROM performance
            LIMIT 5;'''

fetchall()

[('female', 'group B', "bachelor's degree", 'standard', 'none', 72, 72, 74),
 ('female', 'group C', 'some college', 'standard', 'completed', 69, 90, 88),
 ('female', 'group B', "master's degree", 'standard', 'none', 90, 95, 93),
 ('male', 'group A', "associate's degree", 'free/reduced', 'none', 47, 57, 44),
 ('male', 'group C', 'some college', 'standard', 'none', 76, 78, 75)]

## 3- Find minimum writing score among students

In [48]:
query = '''SELECT MIN(writing_score)
            FROM performance'''

fetchone()

(10,)

## 4- Find total writing score

In [49]:
query = '''SELECT SUM(writing_score)
              FROM performance;'''

fetchone()

(68054,)

## 5- Find number of students that writing score is higher than 85

In [50]:
query = '''SELECT COUNT(gender)
              FROM performance
             WHERE writing_score > 85;'''

fetchone()

(121,)

## 6- Find number of students that completed the course

In [61]:
query = '''SELECT COUNT(*), COUNT(course)
              FROM performance
             WHERE course='completed';'''

fetchone()

(358, 358)

## 7- Calculate average,minimum and maximum values of math score

In [52]:
query = '''SELECT AVG(math_score),
                  MIN(math_score),
                  MAX(math_Score)
             FROM performance;'''

fetchall()

[(66.089, 0, 100)]

## 8- Calculate count of students alias `Number of Students` and maximum math score alias `Higest Math Score`

In [53]:
query = '''SELECT COUNT(*) AS 'Number of Students',
                  MAX(math_score) AS 'Highest Math Score'
              FROM performance;'''

fetchone()

(1000, 100)

## 9- Calculate count of unique values of gender,lunch and course columns

In [54]:
query = '''SELECT COUNT(DISTINCT gender) AS unique_gender,
                  COUNT(DISTINCT lunch) AS unique_lunch,
                  COUNT(DISTINCT course) AS unique_course
              FROM performance;'''

fetchall()

[(2, 2, 2)]

## 10- Calculate number of characters of parental_education column and order in descending order by the math_score(limit 10)

In [55]:
query = '''SELECT 'Education:' || UPPER(parental_education) AS 'Parental_Edu',
                  writing_score,
                  math_score,
                  LENGTH(parental_education) AS 'length_of_parental_edu'
              FROM performance
             ORDER BY math_score DESC;'''

fetchmany(10)

[("Education:ASSOCIATE'S DEGREE", 93, 100, 18),
 ('Education:SOME COLLEGE', 97, 100, 12),
 ("Education:BACHELOR'S DEGREE", 100, 100, 17),
 ('Education:SOME COLLEGE', 86, 100, 12),
 ('Education:SOME COLLEGE', 99, 100, 12),
 ("Education:BACHELOR'S DEGREE", 100, 100, 17),
 ("Education:ASSOCIATE'S DEGREE", 100, 100, 18),
 ("Education:BACHELOR'S DEGREE", 100, 99, 17),
 ('Education:HIGH SCHOOL', 90, 99, 11),
 ('Education:SOME COLLEGE', 81, 99, 12)]

## 11- Substract math score from writing score then give alias substract and order in ascending order by the substract(limit 15)

In [56]:
query = '''SELECT gender,
                  lunch,
                  course,
                  writing_score - math_score AS 'substract' 
              FROM performance
             ORDER BY substract
             LIMIT 15;'''

fetchall()

[('male', 'standard', 'none', -23),
 ('male', 'standard', 'none', -21),
 ('male', 'standard', 'none', -21),
 ('male', 'standard', 'none', -21),
 ('male', 'standard', 'none', -21),
 ('male', 'standard', 'none', -20),
 ('male', 'standard', 'none', -20),
 ('male', 'standard', 'none', -19),
 ('male', 'standard', 'none', -19),
 ('male', 'free/reduced', 'none', -18),
 ('male', 'standard', 'completed', -18),
 ('male', 'free/reduced', 'completed', -17),
 ('male', 'standard', 'none', -17),
 ('male', 'standard', 'none', -17),
 ('male', 'standard', 'none', -17)]

## 12- Close the database connection

In [58]:
conn.close()